<h1>Welcome to  my Weather Application</h1>
<p>Let the search begins</p>


<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="well">
	    <h1>Look Up Your Local Forecast</h1>
	    <p>What's the weather like in your city?</p>
	    <div>
                <%= form_tag index_path do %>
		    <%= text_field_tag :city, nil, placeholder: "City", class: "form-control" %><br />
		    <%= select_tag :state, options_for_select(@states), prompt: "Please select" %><br />
		    <%= submit_tag "Check Weather", class: "btn btn-primary" %>
		<% end %>
	    </div>
	</div>
    </div>
</div>